:host {
  position: relative;

  &.fullwidth {
    width: 100%;

    .btn.dropdown-toggle {
      width: 100%;
      text-align: left;
      display: flex;
      align-items: center;

      &:after {
        margin-left: auto;
      }

      &.btn-sm {
        padding: 4px 11px 5px 11px;
      }
    }
  }
}

.btn.dropdown-toggle {
  width: auto !important;

  >span {
    margin-right: 10px;
  }
}

select.form-control {
  height: 32px !important;
  color: #222 !important;
  font-size: 13px !important;
  cursor: pointer;
}
