<app-page-title [PageTitle]="PageTitle">
  <thead>
    <button class="btn btn-primary btn-sm" (click)="domainCreate.show()">Create</button>
  </thead>
</app-page-title>

<div class="element-box">
  <app-data-table class="small" #dataTable noResultsIconClass="fal fa-rocket" noResultsMessage="No sesssions available"
    [noTopMenu]="false">
    <thead>
      <tr>
        <th class="w-5">#</th>
        <th class="w-25">Domain</th>
        <th class="w-25">Address</th>
        <th class="text-center w-15">Created Date</th>
        <th class="text-center w-15">Updated Date</th>
        <th class="text-center w-10">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of dataTable.items; let index = index">
        <td class="w-5">{{index+1}}</td>
        <td>{{item.name}}</td>
        <td>{{item.address}}</td>
        <td class="text-center w-15">{{item.createdDate | date:'medium'}}</td>
        <td class="text-center w-15">{{item.updatedDate | date:'medium'}}</td>
        <td class="text-center w-10">
          <button class="btn btn-sm btn-link">
            <i class="far fa-pencil"></i>
          </button>
          <button class="btn btn-sm btn-link" (click)="onDelete(item.id)">
            <i class="fal fa-trash-alt"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </app-data-table>
</div>

<app-domain-create #domainCreate [dataTable]="dataTable"></app-domain-create>
